{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="h-100">
                    <div class="row mb-3 pb-1">
                        <div class="col-12">
                            {{ component ('datatable-ajax',{ 
                                cardTitle: 'Entreprises',
                                tableTitle: 'Liste des entreprises',
                                columnsName: columns,
                                columnsFrName: columnFr,
                                ajaxLink: ajaxLink,
                                addButton: addButton
                                })  
                            }} 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}

    
{% endblock %}
