
{% block title %}Password Reset Email Sent{% endblock %}

{% extends 'base.html.twig' %}
{% block bodyFullScreen %}
    {% for message in app.session.flashBag.get('reset_password_error') %}
        <div class="alert flash-message alert-danger fade show" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {# Basic reset mail #}
    {{ include('reset_password/check_email-basic.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- particles js -->
    <script src="/libs/particles.js/particles.js"></script>
    <!-- particles app js -->
    <script src="/js/pages/particles.app.js"></script>
    <!-- validation init -->
    <script src="/js/pages/form-validation.init.js"></script>
    <!-- password create init -->
    <script src="/js/pages/passowrd-create.init.js"></script>
{% endblock %}
