@import 'utils';
@import 'variables';

// Page : auth/auth-pass-reset-basic.html.twig - Route name : app_forgot_password_request/request.html.twig

.small-reset-mail{
    margin-top: 5px;
}

// Page : auth/auth-pass-change-basic.html.twig - Route name : app_reset_password/reset.html.twig

form[name="change_password_form"]{
    
    .auth-pass-inputgroup{
        position: relative;
        
        #change_password_form_plainPassword_first{
            margin-bottom: 16px;
        }
    
        .password-addon{
            top: 27px !important;
            
            &.eye-blind {
                .ri-eye-fill:before{
                    content: "\ecb6" !important;
                }
            }
        }
    }

    #password-contain{
        display: none !important;
    }
}