{% for message in app.flashes(type) %}
    <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert" style="position: relative; z-index: 9999;">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}